* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: Montserrat,sans-serif;
  font-size: 17.5px;
}

html,
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin: 0 -15px;
}

img {
  display: block;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.button {
  text-decoration: none;
  color: white;
  border-radius: 30px;
  margin-right: 20px;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: 500;
  min-width: 230px;
  text-align: center;
  transition: all 300ms ease;
  border: 2px solid;
}

.button--documentation {
  background-color: #ea2845;
  border-color:  #ea2845;
}

.button--source-code {
  display: flex;
  justify-content: center;
  border-color:  white;
}
.button--documentation:hover {
  background-color: transparent;
}

.button--source-code:hover {
  color: #ea2845;
  border: 2px solid #ea2845;
}

.button--enterprise {
  color: #ea2845;
  background-color: white;
  border-color: #ea2845;
}

.button--enterprise:hover {
  color: white;
  border-color: white;
  background-color: transparent;
}


/*
########################## HEADER ####################### 
*/
.cabecalho {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px; */
  padding-top: 30px;
}

.cabecalho .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho .lista {
  list-style-type: none;
  display: block;
  margin-left: 25px;
}

.cabecalho .lista .link {
  text-decoration: none;
  color: white;
  transition: color 300ms ease;
  font-weight: 700;
  display: block;
}
.cabecalho .lista .link:hover {
  color: red;
}

.cabecalho .lista.primeiro-item {
  margin-left: 50px;
}

.cabecalho .lista.primeiro-item {
  margin-left: 0px;
}

.cabecalho .lista-pai {
  display: flex;
  align-items: center;
}

/*
  ########################## HERO ####################### 
 */

.hero {
  /* display: flex;
  align-items: center;
  min-height: 700px; */
  background-image: url(../img/gatonest.png);
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  min-height: 700px;
}

.hero > .container { /* "">"" (significa filho direto) */
  display: flex;
  align-items: center;
  min-height: 400px;
  height: 100vh;
}

.hero__text-wrapper {
  max-width: 600px;
}

.hero__title {
  font-weight: 600;
  font-size: 55px;
  line-height: 75px;
  margin: 0 0 5px;
}

.hero__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 60px;
}

.hero__button-wrapper {
  display: flex;
}

.hero__button-text {
  margin-left: 6px;
}

/* ############################ HIGHLIGTHS ########################## */

.highlights {
  background-color: #f1f3f3;
  text-align: center;
  padding: 100px 0;
}

.highlights__icon-wrapper {
  margin: 0 auto;
}

.highlights__icon-wrapper img {
  margin: 0 auto;
}

.highlights .row {
  display: flex;
  justify-content: center;
}

.highlights__blocks {
  padding: 0 15px;
  flex-basis: 100%;
}

.highlights__blocks h3 {
  font-weight: 700;
  font-size: 18px;
  color: #ea2845;
  margin: 40px 0 0;
}

.highlights__blocks p {
  color: black;
  font-weight: 500;
  font-size: 16px;
  max-width: 300px;
  margin: 20px auto;
  line-height: 30px;
}

/* ########################## ENTERPRISE ################################## */

.enterprise {
  background-image: url(https://d33wubrfki0l68.cloudfront.net/c69d2eb089fe0e8a8729c5a1ad8fd5b3d7ca6468/support.f8bcb7f8.png);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-color: #ed1543;
}

.enterprise  .container {
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.enterprise__column {
  width: 60%;
}

.enterprise__column h2 {
  font-size: 32px;
}

.enterprise__column p {
  font-weight: 500;
  line-height: 32px;
}

.enterprise__column .button--enterprise {
  margin: 25px 0;
  display: inline-block;
}